table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

table td,
table th {
  border: 1px solid #131313;
  padding: 8px;
  text-align: center;
  
}

form{
 
  height: 300px;
  width: 25%;
  border: 1px solid black;
 padding: 20px;
}
